This is the system {{ ansible_facts['fqdn'] }}.
This is a {{ ansible_facts['distribution'] }} version {{ ansible_facts['distribution_version'] }} system.
Only use this system with permission.
You can request access from {{ system_owner }}.

This is the {{ fu_fu_stuff }} that was missing and caused me to fail!!!

I can do math, for example 8 / 2 equal {{ 8 / 2 }}
